$primary-front: #49e7d9;
$secondary-front: #444;

.root {
  width: 100%;
  display: flex;
  align-items: center;
}

.step {
  flex-grow: 1;
}

.step-progress {
  width: 100%;
  display: flex;
  align-items: center;
}

.step-progress-line {
  //background-color: white;
  background-color: #6c74ac;
  opacity: 0.6;
  flex-grow: 1;
  height: 8px;
}

.step-progress-line-active {
  background-color: $primary-front;
  opacity: 0.72;
}

.step-progress-dot {
  //background-color: white;
  background-color: #6c74ac;
  opacity: 0.6;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.step-progress-dot-active {
  background-color: $primary-front;
  opacity: .72;
}

.step-label {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.step-label-text {
  //color: white;
  color: #e7f5fc;
  font-size: 24px;
  opacity: 0.6;
}

.step-label-text-active {
  color: $primary-front;
  font-size: 24px;
  opacity: 1;
}
